body{
	background-color: #87AF7C;
}
a{
	color:red;
	text-decoration: none;
	background-color: red;
	font-family: Umpush;
}
a:hover{
	background-color:green;	
}

.form{
	background-color:white;
	text-align:center;


}
.sidebar{
	background-color:white;
	position:fixed;
	left: 0%; 
	top:25%;
	text-align:center;
	height:100%;
}
.header{
	height:60px;
	width:100%;
}
.container{
	position:relative;
	height:100%;
}
.content{
	position:absolute;
	left:20%;
}